[global]
  checkNewVersion = false
  sendAnonymousUsage = false

# https://docs.traefik.io/v2.0/routing/entrypoints/
[entryPoints]
  [entryPoints.websecure]
    address = ":443"

# https://docs.traefik.io/v2.0/observability/logs/
[log]
  level = "INFO"

[tls.options]
  [tls.options.default]
    minVersion = "VersionTLS12"
    cipherSuites = [
      "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256",
      "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384",
      "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305"
    ]


[certificatesResolvers.sample.acme]
  email = "{{ common_email_username }}"
  storage = "acme.json"
  [certificatesResolvers.sample.acme.dnsChallenge]
    provider = "cloudflare"
    delayBeforeCheck = 10

# https://docs.traefik.io/v2.0/providers/docker/
[providers.docker]
  endpoint = "unix:///var/run/docker.sock"
  exposedByDefault = true
  defaultRule = "Host(`{{ normalize .Name }}.{{common_tld}}`)"
  useBindPortIP = true
