# https://docs.traefik.io/configuration/logs/#traefik-logs
logLevel = "INFO"

# https://docs.traefik.io/user-guide/examples/#http-redirect-on-https
defaultEntryPoints = ["http", "https"]

[web]
address = ":8080"

[entryPoints]
  [entryPoints.http]
    address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
    address = ":443"
    [entryPoints.https.tls]
      minVersion = "VersionTLS12"
      cipherSuites = [
        "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256",
        "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384",
        "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305"
      ]

# https://docs.traefik.io/user-guide/examples/#dns-challenge-with-wildcard-domains
[acme]
storage = "acme.json"
entryPoint = "https"
[[acme.domains]]
  main = "*.{{ common_tldr }}"
  sans = ["{{ common_tldr }}"]
[acme.dnsChallenge]
  provider = "cloudflare"
  delayBeforeCheck = 10

# https://docs.traefik.io/configuration/backends/docker/
[docker]
endpoint = "unix:///var/run/docker.sock"
watch = true
domain = "{{ common_tldr }}"
